@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/* Basic Structural Layout */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* Containers */
.containers {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: hidden;
}
.left-box {
  width: 25vw;
  padding: 10px;
  color: #fff;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
}
.right-box {
  width: 75vw;
  padding: 10px;
  height: 100%;
  margin-left: 25vw;
  overflow-y: auto;
  height: 100vh;
  padding-top: 60px;
}

/* SVG color inversion */
.invert {
  filter: invert(1);
}

/* Left Side Box */
.home-box {
  padding: 5px;
  background-color: #121212;
  cursor: pointer;
}
.img {
  display: flex;
  align-items: center;
}
.logo {
  gap: 10px;
  font-weight: bold;
}
.home-box ul li {
  display: flex;
  gap: 15px;
  width: 24px;
  list-style: none;
  padding-top: 14px;
  font-weight: bold;
  cursor: pointer;
}

/* Library Box */
.lib-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  width: 100%;
  background-color: #121212;
  overflow: hidden;
  padding: 20px;
  color: white;
  gap: 20px;
  margin-top: 10px;
}
.lib-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-weight: bold;
  font-size: 18px;
}
.lib-header i {
  cursor: pointer;
}
.box-1 {
  width: 100%;
  height: 120px;
  background-color: #1f1f1f;
  padding: 15px;
  border-radius: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  margin-top: 20px;
  font-size: 0.9rem;
}
.btn {
  border-radius: 15px;
  padding: 8px;
  width: 150px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform 0.2s ease;
}
.btn:hover {
  transform: scale(1.05);
}
#now-playing-card {
  display: none;
  color: white;
  padding: 16px 20px;
  background-color: #1f1f1f;
  border-radius: 12px;
  margin: 20px;
  box-shadow: 0 0 15px 4px #1db954;
  transition: box-shadow 0.3s ease;
}
#now-playing-card:hover {
  box-shadow: 0 0 20px 8px #1ed760;
}
#song-title {
  padding-top: 10px;
}

/* Footer of Left Side-box */
.footer {
  background-color: #121212;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  margin-bottom: 20px;
}
.footer-row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.footer a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  padding: 2px;
}
.footer a :hover {
  text-decoration: underline;
}
.box-top {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom: none;
}
.box-bottom {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top: none;
}
/* Right Side Box */
/* Top Nav Bar */
.header {
  position: fixed;
  top: 0;
  left: 25vw;
  right: 0;
  z-index: 10;
  margin-top: 10px;
  background-color: #121212;
  height: 60px;
  color: #818181;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-top: 0;
}
.logos i {
  color: #818181;
  font-size: 1rem;
  margin: 0 5px;
}
.log-page {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 1rem;
}
.divider {
  padding: 0 10px;
  color: #818181;
  font-size: 2rem;
}
.log-page button {
  background: transparent;
  color: #818181;
  border: none;
  cursor: pointer;
}
.log-btn {
  border-radius: 18px !important;
  background-color: #fff !important;
  padding: 10px;
  width: 90px;
  color: black !important;
  transition: all 0.3s ease;
}
/* Hover Effect */
.log-btn:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.log-page span {
  transition: all 0.3s ease;
}
.log-page span:hover {
  transform: scale(1.05);
  color: #fff;
  cursor: pointer;
}
.sign {
  font-size: 1rem;
  transition: all 0.3s ease;
}
.sign:hover {
  transform: scale(1.05);
  color: #fff;
}
.bar {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  filter: blur(0.2px);
}
.heading {
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
}
.show button {
  color: #818181;
  background: transparent;
  border: none;
  padding-right: 10px;
  cursor: pointer;
}
.show button:hover {
  text-decoration: underline;
}

/* Playlist Section */
.play-box {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 30px !important;
}
.box {
  position: relative;
  width: 200px;
  padding: 10px;
  overflow: hidden;
  cursor: pointer;
}

.box img {
  width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
  z-index: 1;
  position: relative;
  border-radius: 5px;
}

.box h2 {
  color: #fff;
  z-index: 1;
  position: relative;
  padding: 2px;
}

.box p {
  color: #818181;
  z-index: 1;
  position: relative;
  padding: 2px;
}

.box h2,
.box p {
  position: relative;
  z-index: 3;
}

.play-box .box h2:hover,
.play-box .box p:hover {
  text-decoration: underline !important;
}

.box .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #818181;
  opacity: 0;
  z-index: 2;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 8px;
}

.box:hover .overlay {
  opacity: 0.3;
}

.overlay .logo-overlay {
  width: 50px;
  height: 50px;
  border-radius: 80%;
  padding: 5px;
  object-fit: contain;
}
.box:hover .logo-overlay {
  opacity: 1;
}
.play-box .singer img {
  border-radius: 50%;
}
/* Footer */
hr {
  border: none;
  height: 2px;
  background: linear-gradient(to right, #333, #666, #333);
  box-shadow: 0 0 10px rgba(102, 102, 102, 0.4);
  opacity: 0.8;
  margin: 40px 0;
  border-radius: 10px;
}

.foot {
  display: flex;
  justify-content: space-between;
  color: #818181;
  padding: 30px;
}
.links ul li {
  list-style: none;
  padding: 8px;
  text-align: left;
  cursor: pointer;
}
.links ul li:hover {
  text-decoration: underline;
}
.links h4 {
  padding: 8px;
  color: #fff;
}
.color i {
  background-color: #1f1f1f;
  border-radius: 50%;
  padding: 10px;
  margin: 3px;
  cursor: pointer;
}
.copy {
  color: #818181;
  padding-left: 10px;
  margin-bottom: 60px !important;
}
.copy:hover {
  text-decoration: underline;
}

.playbar {
  position: fixed;
  bottom: 0;
  background-color: #121212;
  padding: 15px 20px;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
  z-index: 10;
  flex-wrap: wrap;
}

.seekbar {
  position: relative;
  height: 5px;
  background-color: #404040;
  width: 30%;
  width: 1200px;
  border-radius: 5px;
  cursor: pointer;
  min-width: 150px;
  margin-bottom: 10px;
}

.circle {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(-50%, -50%);
  width: 14px;
  height: 14px;
  background-color: #1db954;
  border-radius: 50%;
  transition: left 0.1s linear;
}

.song-info {
  max-width: 1200px;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  flex-shrink: 1;
}

.play-btns {
  display: flex;
  gap: 10px;
  padding-left: 400px;
}

.play-btns img {
  width: 30px;
  cursor: pointer;
}

.song-time {
  display: flex;
  justify-content: flex-end;
  padding-left: 400px;
  min-width: 90px;
  font-size: 14px;
  text-align: right;
  flex-shrink: 0;
  color: #fff;
}